.main_video_frame {
    min-height: 95%;
    width: 95%;
    box-shadow: 0 0 30px rgba(0,0,0,75);
    display: flex;
    flex-direction: column;
}
.video_container {
    flex: 2 1 100px;
}
.menu {
    background-color: black;
    
}
.menu_button {
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}
.menu_icon {
    color: white;
    font-size: 30pt;
}
