HEAD {
    height: 100%;
}

BODY {
    height: 100%;
}

.vp_empty_button {
    flex-grow: 1;
}

.vp_main_vf {
    height: 600px;
    width: 800px;
    box-shadow: 0 0 30px rgba(0,0,0,30);
    display: flex;
    flex-direction: column;
}

.vp_video_container {
    flex: 2 1 100px;
}

.vp_menu {
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.vp_menu_button {
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    height: 40pt;
    width: 50pt;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    flex-grow: 0;
}

.fa {
    color: white;
    font-size: 30pt;
}

