@import "normalize.css";

HEAD {
    height: 100%;
}

BODY {
    height: 100%;
}

.vp_pb {
    background-color: grey;
    height: 5px; 
    flex-grow: 1;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    display: flex;
    cursor: pointer;
}
.vp_pb_p {
    background-color: red;
    height: 5px;
    border-radius: 5px;
}
.vp_pb_slider_field {
    display: flex;
    align-items: center;
    width: auto;
    opacity: 0;
    transition-timing-function: ease-out;
    transition-duration: 300ms;
}
.vp_pb:hover .vp_pb_slider_field {
    opacity: 1;
    transition-timing-function: ease-in;
    transition-duration: 300ms;
    
}

.vp_pb_slider {
    height: 7px;
    width: 7px;
    background-color: red;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    margin-left: -5px;
    margin-right: -5px;
    
}

.vp_main_vf {
    height: 600px;
    width: 800px;
    box-shadow: 0 0 30px rgba(0,0,0,30);
    display: flex;
    flex-direction: column;
}

.vp_video_container {
    flex: 1 1 200px;
}

.vp_menu {
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.vp_menu_button {
    height: 33pt;
    width: 27pt;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    padding: 10px;
    padding-bottom: 8px;
    flex-grow: 0;
    color: white;
    font-size: 15pt;
}

.vp_menu_duration {
    color: white;
    font-family: "Roboto";
    font-weight: 400;
}
